<md-content aria-label="Authenticate" style="width:400px">
    <div ng-if="user.username">
        <md-content class="md-padding">
            <label>Name: {{user.name}}</label>
            <label>EMail: {{user.email}}</label>
            <label>Username: {{user.username}}</label>
            <div layout="row">
                <md-button md-no-ink ng-click="close()" class="">Close</md-button>
                <md-button md-no-ink ng-click="logout()" class="md-warn md-hue-2 md-raised">Logout!</md-button>
            </div>
        </md-content>
    </div>
    <md-tabs ng-if="!user.username" md-dynamic-height="">
        <md-tab label="Log in">
            <md-content class="md-padding">
                <form class="login" ng-submit="login.do(login.data)" name="loginForm" layout="column">
                    <md-input-container>
                        <label>Username</label>
                        <input required md-no-asterisk name="username" ng-model="login.data.username">
                        <div ng-messages="loginForm.username.$error">
                            <div
                                ng-show="loginForm.username.$error.required === true"
                                ng-message="required">This is required.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input type="password" required md-no-asterisk name="password" ng-model="login.data.password">
                        <div ng-messages="loginForm.password.$error">
                            <div
                                ng-show="loginForm.password.$error.required === true"
                                ng-message="required">This is required.
                            </div>
                        </div>
                    </md-input-container>
                    <div class="error" ng-show="login.error">
                        <div>{{ login.error }}</div>
                    </div>
                    <div layout="row">
                        <md-button flex md-no-ink ng-click="close()" class="">Cancel</md-button>
                        <md-button flex type="submit" md-no-ink class="md-primary">Login!</md-button>
                    </div>
                </form>
            </md-content>
        </md-tab>
        <md-tab label="Sign Up">
            <md-content class="md-padding">
                <form class="register" ng-submit="register.do(register.data)" name="registerForm" layout="column">
                    <md-input-container>
                        <label>Full name</label>
                        <input required md-no-asterisk name="name" ng-model="register.data.name">
                        <div ng-messages="registerForm.name.$error">
                            <div
                                ng-show="registerForm.name.$error.required === true"
                                ng-message="required">This is required.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Email</label>
                        <input type="email" required md-no-asterisk name="email" ng-model="register.data.email">
                        <div ng-messages="registerForm.email.$error">
                            <div
                                ng-show="registerForm.email.$error.required === true"
                                ng-message="required">This is required.
                            </div>
                            <div ng-show="registerForm.email.$error.email === true"
                                ng-message="email">Invalid email address.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Username</label>
                        <input required md-no-asterisk name="username" ng-model="register.data.username">
                        <div ng-messages="registerForm.username.$error">
                            <div
                                ng-show="registerForm.username.$error.required === true"
                                ng-message="required">This is required.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input type="password" required md-no-asterisk name="password" ng-model="register.data.password">
                        <div ng-messages="registerForm.password.$error">
                            <div
                                ng-show="registerForm.password.$error.required === true"
                                ng-message="required">This is required.
                            </div>
                        </div>
                    </md-input-container>
                    <div class="error" ng-show="register.error">
                        <div>{{ register.error }}</div>
                    </div>
                    <div layout="row">
                        <md-button flex md-no-ink ng-click="close()" class="">Cancel</md-button>
                        <md-button flex type="submit" md-no-ink class="md-primary">Register!</md-button>
                    </div>
                </form>
            </md-content>
        </md-tab>
        <md-tab ng-disabled="true">
            <md-tab-label>&nbsp;</md-tab-label>
            <md-tab-body>&nbsp;</md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>
