<div>
    <div layout="row">
        <div flex="auto">
            <div layout="row" layout-align="start center">
                <div flex="50" hide show-gt-sm>
                    &nbsp;&nbsp;{{ skip + 1 }} - {{ skip + products.data.length }} of {{ products.count }} Products.
                </div>
                <div flex="initial" hide-gt-sm>
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="toggleLeft($event)">
                        <md-icon md-svg-src="img/icons/ic_menu_black_24px.svg" aria-label="Account">
                        </md-icon>
                    </md-button>
                </div>
                <div flex="auto">
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button aria-label="First page."
                            ng-disabled="skip === 0 ? true: false"
                            class="md-icon-button"
                            ng-click="skip = 0">
                            <md-icon md-svg-src="img/icons/ic_first_page_black_24px.svg" aria-label="First page.">
                            </md-icon>
                        </md-button>
                        <md-button aria-label="Prev page."
                            ng-disabled="skip > 0 ? false : true"
                            class="md-icon-button"
                            ng-click="skip = skip - limit">
                            <md-icon md-svg-src="img/icons/ic_chevron_left_black_24px.svg" aria-label="Prev page.">
                            </md-icon>
                        </md-button>
                        <md-button aria-label="Next page."
                            ng-disabled="skip + limit > products.count"
                            class="md-icon-button"
                            ng-click="skip = skip + limit">
                          <md-icon md-svg-src="img/icons/ic_chevron_right_black_24px.svg" aria-label="Next page.">
                          </md-icon>
                        </md-button>
                        <md-button aria-label="Last page."
                            ng-disabled="skip + limit > products.count"
                            class="md-icon-button"
                            ng-click="last()">
                          <md-icon md-svg-src="img/icons/ic_last_page_black_24px.svg" aria-label="Last page.">
                          </md-icon>
                        </md-button>
                        <md-divider></md-divider>
                        <md-menu md-position-mode="target-right target">
                            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <md-icon md-svg-src="img/icons/ic_sort_black_24px.svg" aria-label="Insert Drive Icon">
                                </md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="orderChange('price')">
                                        <div layout="row" flex>
                                            <p flex>Price: Low to High</p>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="orderChange('~price')">
                                        <div layout="row" flex>
                                            <p flex>Price: High to Low</p>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="orderChange('~id')">
                                        <div layout="row" flex>
                                            <p flex>Newest Arriavals</p>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-card-actions>
                </div>
            </div>
        </div>
    </div>
</div>
<md-divider></md-divider>
<div hide-gt-sm>
    <form ng-submit="search.submit()">
        <md-autocomplete
            md-search-text="search.text"
            md-items="item in search.change(search.text)"
            md-item-text="item.name"
            md-selected-item-change="search.submit()"
            md-min-length="0"
            placeholder="What you would like to shop today...">
            <md-item-template>
                <span md-highlight-text="search.text" md-highlight-flags="^i">{{item.name}}</span>
            </md-item-template>
        </md-autocomplete>
    </form>
</div>
<md-content layout="column" flex>
<div layout="row" flex>
      <div layout="column">
        <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            layout="column"
            flex
            >
            <md-card flex="50" layout="column">
                <div layout="row" class="md-title md-margin">
                    <span flex>Categories</span>
                    <md-button
                        ng-if="categories.selected.length > 0"
                        flex="nogrow"
                        aria-label="Reset"
                        ng-click="categories.clear()"
                        class="md-icon-button">
                        <md-icon md-svg-src="img/icons/ic_highlight_off_black_24px.svg" aria-label="Reset">
                      </md-icon>
                    </md-button>
                </div>
                <md-input-container md-no-float>
                    <input ng-model="categories.search"
                        ng-change="categories.load(categories.search)"
                        type="text"
                        placeholder="Search here...">
                </md-input-container>
                <div layout="column" style="overflow-x: scroll">
                    <div class="md-margin" layout="column">
                        <md-checkbox
                            ng-repeat="item in categories.data"
                            ng-checked="categories.exists(item.name, categories.selected)"
                            ng-click="categories.toggle(item.name, categories.selected)">
                            {{ item.name }}
                        </md-checkbox>
                    </div>
                </div>
            </md-card>
            <md-card flex="50" layout="column">
                <div layout="row" class="md-title md-margin">
                    <span flex>Brands</span>
                    <md-button
                        ng-if="brands.selected.length > 0"
                        flex="nogrow"
                        aria-label="Reset"
                        ng-click="brands.clear()"
                        class="md-icon-button">
                        <md-icon md-svg-src="img/icons/ic_highlight_off_black_24px.svg" aria-label="Reset">
                      </md-icon>
                    </md-button>
                </div>
                <md-input-container md-no-float>
                    <input ng-model="brands.search"
                        ng-change="brands.load(brands.search)"
                        type="text"
                        placeholder="Search here...">
                </md-input-container>
                <div layout="column" style="overflow-x: scroll">
                    <div class="md-margin" layout="column">
                        <md-checkbox
                            ng-repeat="item in brands.data"
                            ng-checked="brands.exists(item.name, brands.selected)"
                            ng-click="brands.toggle(item.name, brands.selected)">
                            {{ item.name }}
                        </md-checkbox>
                    </div>
                </div>
            </md-card>
        </md-sidenav>
    </div>
        <div layout="column">
            <md-content layout="row">
                <div layout="column">
                    <div layout="row" layout-wrap>
                        <div flex="50" flex-gt-sm="20" ng-repeat="product in products.data">
                            <md-card>
                                <img ng-src="/img/products/1.jpg" class="md-card-image">
                                <md-card-header>
                                    <md-card-header-text>
                                        <a href="/product">
                                            {{ product.name }}
                                        </a>
                                        <span class="md-subhead">by {{ product.brand }}</span>
                                        <label class="md-accent">
                                            $ {{ product.price }}
                                        </label>
                                    </md-card-header-text>
                                </md-card-header>
                            </md-card>
                        </div>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</div>
