<md-content layout="column" flex>
<div layout="row" flex>
      <div layout="column">
        <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            >
            <div layout="column" class="md-padding">
                <div class="md-title md-margin">Categories</div>
                <md-checkbox ng-repeat="category in categories.data">
                    {{ category.name }}
                </md-checkbox>
            </div>
            <md-divider></md-divider>
            <div layout="column" class="md-padding">
                <div class="md-title md-margin">Brands</div>
                <md-checkbox ng-repeat="brand in brands">
                    {{ brand.name }}
                </md-checkbox>
            </div>
        </md-sidenav>
    </div>
        <div layout="column">
            <md-content layout="row">
                <div layout="column">
                    <div class="md-margin" hide-gt-sm>
                        <md-autocomplete
                            class="md-whiteframe-z0"
                            md-selected-item="selectedItem"
                            md-search-text-change="searchTextChange(ctrl.searchText)"
                            md-search-text="searchText"
                            md-selected-item-change="selectedItemChange(item)"
                            md-items="item in querySearch(searchText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="What you would like to shop today...">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div>
                        <md-card layout="row" layout-align="start center">
                            <div flex="50">
                                &nbsp;&nbsp;{{ skip + 1 }} - {{ skip + products.data.length }} of {{ products.count }} Products.
                            </div>
                            <div flex="50">
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button aria-label="First page."
                                        ng-disabled="skip === 0 ? true: false"
                                        class="md-icon-button"
                                        ng-click="skip = 0">
                                        <md-icon md-svg-src="img/icons/ic_first_page_black_24px.svg" aria-label="First page.">
                                        </md-icon>
                                    </md-button>
                                    <md-button aria-label="Prev page."
                                        ng-disabled="skip > 0 ? false : true"
                                        class="md-icon-button"
                                        ng-click="skip = skip - limit">
                                        <md-icon md-svg-src="img/icons/ic_chevron_left_black_24px.svg" aria-label="Prev page.">
                                        </md-icon>
                                    </md-button>
                                    <md-button aria-label="Next page."
                                        ng-disabled="skip + limit > products.count"
                                        class="md-icon-button"
                                        ng-click="skip = skip + limit">
                                      <md-icon md-svg-src="img/icons/ic_chevron_right_black_24px.svg" aria-label="Next page.">
                                      </md-icon>
                                    </md-button>
                                    <md-button aria-label="Last page."
                                        ng-disabled="skip + limit > products.count"
                                        class="md-icon-button"
                                        ng-click="last()">
                                      <md-icon md-svg-src="img/icons/ic_last_page_black_24px.svg" aria-label="Last page.">
                                      </md-icon>
                                    </md-button>
                                    <md-divider></md-divider>
                                    <md-menu md-position-mode="target-right target">
                                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                            <md-icon md-svg-src="img/icons/ic_sort_black_24px.svg" aria-label="Insert Drive Icon">
                                            </md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button>
                                                    <div layout="row" flex>
                                                        <p flex>Price: Low to High</p>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button>
                                                    <div layout="row" flex>
                                                        <p flex>Price: High to Low</p>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button>
                                                    <div layout="row" flex>
                                                        <p flex>Newest Arriavals</p>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-card-actions>
                            </div>
                        </md-card>
                    </div>
                    <div layout="row" layout-wrap>
                        <div flex="50" flex-gt-sm="20" ng-repeat="product in products.data">
                            <md-card>
                                <img ng-src="/img/products/1.jpg" class="md-card-image">
                                <md-card-header>
                                    <md-card-header-text>
                                        <a href="/product">
                                            {{ product.name }}
                                        </a>
                                        <span class="md-subhead">by {{ product.brand }}</span>
                                        <label class="md-accent">
                                            $ {{ product.price }}
                                        </label>
                                    </md-card-header-text>
                                </md-card-header>
                            </md-card>
                        </div>
                    </div>
                </div>
            </md-content>
        </div>
    </div>
</div>
