<div layout layout-align="center start">
    <md-card ng-show="items.length" class="md-margin" flex="100" flex-gt-sm="50" layout="column">
        <div layout="row" ng-repeat="item in items">
            <div flex="20">
                <div class="thumbnail">
                    <div class="img-container">
                        <img flex="100" layout-fill ng-src="{{ item.product.imgsrc }}" class="md-card-image">
                    </div>
                </div>
            </div>
            <div flex="80" layout="column" class="md-margin">
                <div layout="row">
                    <div flex="100" layout="column">
                        <a href="/product/{{item.productId}}/">
                            {{ item.product.name }}
                        </a>
                        <span class="md-subhead">by {{ item.product.brand }}</span>
                    </div>
                    <div flex="nogrow">
                        <md-button
                            aria-label="Remove from cart"
                            class="md-fab md-mini md-hue-2"
                            ng-click="removeFromCart(item)">
                            <md-icon md-svg-src="/img/icons/ic_remove_shopping_cart_black_24px.svg" aria-label="Remove from cart">
                            </md-icon>
                        </md-button>
                    </div>
                </div>
                <div layout="row">
                    <md-input-container class="md-block">
                        <label>Price</label>
                        <input disabled="true" ng-model="item.product.price">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Quantity</label>
                        <md-select ng-change="updateQuantity(item, item.newquantity)" ng-model="item.newquantity">
                            <md-option ng-selected="qty === item.quantity" ng-value="qty" ng-repeat="qty in loadQuanities(item.product.quantity)">
                                {{ qty }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Sub Total</label>
                        <input
                            ng-value="item.product.price * item.quantity"
                            disabled="true">
                    </md-input-container>
                </div>
            </div>
        </div>
        <md-divider />
        <div layout="row" layout-align="end center">
            <div>
                Total amount payable: $ {{ getTotal() }}/-
            </div>
            &nbsp;
            <md-button disabled="true" class="md-raised md-warn">Checkout</md-button>
        </div>
    </md-card>
    <div flex ng-show="!items.length" layout="column" layout-align="center center" class="md-margin md-padding">
        <h3>You cart is empty!</h3>
        <md-button href="/" class="md-raised md-primary">
            Continue browsing
        </md-button>
    </div>
</div>
