md-sidenav {
	md-input-container {
		margin: 0px;
		div.md-errors-spacer {
			display: none;
		}
	}
}

form.login {
	md-input-container {
		margin: 9px 0px;
	}
}

form.register {
	md-input-container {
		margin: 9px 0px;
	}
}

.thumbnail {
	.img-container {
		position: relative;
		width: 100%;
		padding-bottom: 120%;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
}
